
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog Post</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    
</style>
<body>
    <header>
        <h1>Edit Blog Post</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="form">
        <section class="form-container">
            <form action="/editData" method="post" enctype="multipart/form-data">

                <input type="hidden" name="id" value="<%= val._id%>">

                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required value="<%= val.title %>">
                
                <label for="author">Title:</label>
                <input type="text" id="author" name="author" required value="<%= val.author %>">

                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required value="<%= val.date %>">

                <label for="image">Image URL:</label>
                <input type="file" id="image" name="image" value="<%= val.image %>">

                <label for="dsc">Description:</label>
                <textarea id="dsc" name="dsc" rows="4" required><%= val.dsc %></textarea>

                <button type="submit">Update Blog Post</button>
            </form>
            <img src="<%= val.image %>" alt="" class="edit_img">
        </section>
    </main>
    <footer>
        <p>&copy; 2024 My Blog. Tech Wallah....</p>
    </footer>
</body>
</html>

